[package]
name = "librashader-reflect"
edition = "2021"

license = "MPL-2.0 OR GPL-3.0-only"
version = "0.2.0-beta.6"
authors = ["Ronny Chan <ronny@ronnychan.ca>"]
repository = "https://github.com/SnowflakePowered/librashader"
readme = "../README.md"
categories = ["emulators", "compilers", "graphics"]
keywords = ["shader", "retroarch", "SPIR-V"]
description = "RetroArch shaders for all."

[dependencies]
shaderc = { version = "0.8.3", features = [] }
bytemuck = "1.13.0"

thiserror = "1.0.37"
bitflags = "1.3.2"
rustc-hash = "1.1.0"

librashader-common = { path = "../librashader-common", version = "0.2.0-beta.6" }
librashader-preprocess = { path = "../librashader-preprocess", version = "0.2.0-beta.6" }
librashader-presets = { path = "../librashader-presets", version = "0.2.0-beta.6" }

spirv_cross = { package = "librashader-spirv-cross", version = "0.23", optional = true }

naga = { version = "0.19.0", features = ["spv-in", "wgsl-out"], optional = true }
rspirv = { version = "0.12.0+sdk-1.3.268.0", optional = true }
spirv = { version = "0.3.0+sdk-1.3.268.0", optional = true}

serde = { version = "1.0", features = ["derive"], optional = true }

indexmap = { version = "2.1.0", features = [] }
matches = { version = "0.1.10", features = [] }

[target.'cfg(windows)'.dependencies.spirv-to-dxil]
version = "0.4"
optional = true

[features]
default = ["cross", "wgsl", "serialize"]
standalone = ["shaderc/build-from-source", "shaderc/prefer-static-linking"]
dxil = ["cross", "spirv-to-dxil"]
wgsl = ["cross", "naga", "spirv", "rspirv"]
cross = [ "spirv_cross", "spirv_cross/glsl", "spirv_cross/hlsl" ]
serialize = [ "serde" ]
