name: build librashader-capi

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "0 0 * * 6"
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        profile: ['dev', 'release', 'optimized']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install nightly Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly
        override: true
    - name: Setup Vulkan SDK
      uses: humbletim/setup-vulkan-sdk@v1.2.0
      with:
        vulkan-query-version: latest
        vulkan-components: Vulkan-Headers, Vulkan-Loader, SPIRV-Cross, SPIRV-Headers, SPIRV-Reflect, SPIRV-Tools, Glslang
        vulkan-use-cache: true
    - uses: actions/setup-python@v1
      name: Setup Python
      with:
        python-version: '3.x'
    - run: pip install meson ninja mako
      name: Install Meson for spirv-to-dxil-sys
    - name: Build dynamic library
      run: cargo run -p librashader-build-script -- --profile ${{ matrix.profile }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3.1.2
      with:
        name: ${{ format('build-outputs-{0}-{1}', matrix.os, matrix.profile) }}
        path: "target/release/librashader.*"
